/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    background-color: #f7f7fe;
    color:#222;
}

img{
    max-width: 100%;
    height: auto;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.site-header-wrappeer {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER */
.site-header {
    min-height: 156px;
    background-color: #5ca5a5;
    background-image: url();
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    padding-top: 76px;
    padding-bottom: 120px;
}

.job-listing-list:not(:last-child) {
    margin-bottom: 24px;
}

.job-listing-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.job-listing-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(13, 113, 130, 0.15) 0px 15px 20px -5px;
    padding: 32px 40px 32px 35px;
    border-left: 5px solid transparent;
    border-radius: 5px;
}

.job-listing-item-feature {
    border-left-color: #5ca5a5;
}

.job-listing-img {
    flex-shrink: 0;
    width: 88px;
    height: 88px;
    margin-right: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.column{
    display: flex;
    margin-right: 215px;
}

.job-listing-info{
    flex-grow: 1;
    margin-right: 24px;
}

.job-listing-company {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.job-listing-company-name {
    font-family: "Spartan", "Arial", Sans-Serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #5ca5a5;
    margin-right: 16px;
}

/* JOB-LISTING-BADGES */
.job-listing-badges {
    display: flex;
    align-items: center;
}

.job-listing-badges-item:not(:last-child) {
    margin-right: 8px;
}

.badge {
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.08px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 8px 4px;
    border-radius: 12px; 
}

.badge-green {
    background-color: #5ca5a5;
}

.badge-dark {
    background-color: #2b3939;
}

.job-listing-heading {
    margin-top: 0;
    margin-bottom: 8px;
}

.job-listing-link {
    margin-right: 200px;
    font-size: 18px;
    line-height: 24px;
    color: #2b3939;
    text-decoration: none;
}

.job-listing-link:hover{
    color: #57a8a8;
}

.job-listing-link:active{
    opacity: 0.6;
}

.job-listing-meta {
    margin-right: 200px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.12px;
    color: #7c8f8f;
}

.job-listing-meta-item:not(:last-child) {
    position: relative;
    margin-right: 36px;
}

.job-listing-meta-item{
    
}

.job-listing-meta-item:not(:last-child)::after {
    position: absolute;
    right: -20;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: rgb(183, 196, 196);
    content: "";
    border-radius: 50%;
}

.sitenav {
    margin-left: auto;
}

.sitenav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 24px;
}

.sitenav-link {
    text-decoration: none;
    font-family: "Spartan", "Arial", Sans-Serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 24px;
    color: #5ca5a5;
    background-color: rgba(92, 165, 165, 0.1);
    padding: 4px 8px;
    margin: 0;
    border-radius: 4px;
    transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.sitenav-link:hover{
    color: #fff;
    background-color:#57a8a8;
}

.sitenav-link:active{
    opacity: 0.6;
}



/* BACKGROUND-IMAGES */
.job-listing-img{
    position: absolute;
    width: 54px;
    height: 6px;
}

.job-listing-img-1{
    width: 88px;
    height: 88px;
    background-image: url(../img/Oval-1.svg);
    background-repeat: no-repeat;
}
